<div style="width: 100vw; height: 230vh;color: var(--pritextcolor); max-width: 85%; font-family: var(--fontfamily);">
    <div header>
        <h1>Herzlich Willkommen bei Informatik Guide</h1>
        <p>Hier lernst du die Inhalte der Informatik von der 9-13 Klasse</p>
    </div>
    
    <div Hyperlinks>
        <!--Hyperlinks Balcken unter der Überschrift-->
        <a Hyperlinks href="#">Beispiel Video</a> 
        <a Hyperlinks href="/#BeispielVideo1">Was wir machen?</a>
        <a Hyperlinks href="/start#Impressum">Impressum</a>
    </div>
        <div Inhalte>
                <h2>Informatik für jeden erklärt</h2>
                <p>Unsere interaktiven Tutorials sind speziell auf Schülerinnen und Schüler zugeschnitten und bieten eine einfache Möglichkeit, die Grundlagen der Informatik zu lernen. 
                    Wir haben eine Vielzahl von Themen, die von der Information und ihrer Darstellung bis hin zur Kryptologie reichen.
                    
                    Informatik ist ein wichtiger Bestandteil des modernen Lebens und wird in vielen Bereichen eingesetzt, von der Wissenschaft bis hin zur Unterhaltung. 
                    
                    Es ist daher wichtig, dass Schülerinnen und Schüler die Grundlagen der Informatik erlernen, um in der heutigen Welt erfolgreich zu sein.
                    Wenn du dich für Informatik interessierst, bist du bei uns genau richtig.
                    Hier findest du viel kostenlose interaktive Tutorials, Arbeitsblätter und Hilfsviedeos um dein Informatik zu verbessern.
                <br>
                <br>
                </p>
                <!-- Ein kleines Beispielvideo das im moment noch als Füllung dient bis wir ein eigenes haben -->
                <video id="BeispielVideo1" src="\assets\Intro.mp4" type="video/mp4" width="1020" controls="false" height="480" controls>
                Your browser does not support the video tag.
                </video>
                <p>In unseren ineraktiven Tutorials, wirst du alles über Informatik lernen.</p>
        </div>
    
</div>
