[header] {
  padding: 30px;
  text-align: center;
  padding-top: 20px;
}

[header] p {
  font-size: 15px;
}

[header] h1 {
  font-size: 50px;
  text-shadow: 2px 2px 1px var(--shadowcolor);

}

[Hyperlinks] {
  overflow: hidden;
  font-size: large;
  background-color:var(--seccolor);
  margin: 3px 6px 5px;
  font-weight: 500;
  
}
[Hyperlinks] a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--sectextcolor);
}

[Inhalte] {   
  float: left;
  text-align: center;
  padding-bottom: 10vw;
  padding: 8px 16px;
}

[row]::after {
  display: table;
  clear: both;
  content: "";
}

  
[Hyperlinks] :hover { 
    background-color: var(--hovercolor);
    border-radius: 10px;
}