[header]{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding-top: 20px;
  
}
[header] p {
  font-size: 15px;
}

[header] h1 {
  padding-bottom: 10px;
  font-size: 40px;
  text-shadow: 2px 2px #555;

}

[Hyperlinks] {
  overflow: hidden;
  font-size: large;
  background-color:orange;
  
}
[Hyperlinks] a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

[Inhalte] { 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float: left;
  width: 85%;
  text-align: center;
  max-width: 80%;
  padding-bottom: 10vw;
}

[row]::after {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  display: table;
  clear: both;
  content: "";
}



[Links]{
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  padding: 6px 6px;
  background-color: orange;
}

[Links]:hover {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #555;

}