[header] {
  padding: 30px;
  text-align: center;
}

[header] p {
  font-size: 15px;
}

[header] h1 {
  font-size: 50px;
  text-shadow: 2px 2px 1px var(--shadowcolor);

}

[Hyperlinks] {
  overflow: hidden;
  font-size: large;
  background-color:var(--seccolor);
  margin: 3px 6px 5px;
  font-weight: 600;
  padding-left: 20px;
  
}
[Hyperlinks] a {
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--sectextcolor);
}
  
[Hyperlinks] :hover { 
  background-color: var(--hovercolor);
  border-radius: 10px;
}
[Inhalte] {   
  text-align: center;
  word-wrap: break-word;
  max-width: 97%;
  padding-left: 10px;
}
