<div style="width: 100vw; height: 230vh;color: white;">
    <div header>
        <h1>Herzlich Willkommen bei Bit und Byte</h1>
        <p>Hier lernst du die Inhalte der Informatik von der 9-13 Klasse</p>
    </div>
    
    <div Hyperlinks style="background-color: var(--Secondarycolor);; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-shadow: 1px 1px #555;">
        <!--Hyperlinks-->
        <a Hyperlinks href="#">Beispiel Video</a> 
        <a Hyperlinks href="/#BeispielVideo1">Was wir machen?</a>
        <a Hyperlinks href="/start#Impressum">Impressum</a>
    </div>

    <div row>
        <div Inhalte>
                <h2>Informatik für jeden erklärt</h2>
                <p>Unsere interaktiven Tutorials sind speziell auf Schülerinnen und Schüler zugeschnitten und bieten eine einfache Möglichkeit, die Grundlagen der Informatik zu lernen. 
                    Wir haben eine Vielzahl von Themen, die von der Information und ihrer Darstellung bis hin zur Kryptologie reichen.
                    <br>
                    <br>
                    Informatik ist ein wichtiger Bestandteil des modernen Lebens und wird in vielen Bereichen eingesetzt, von der Wissenschaft bis hin zur Unterhaltung. 
                    <br>
                    Es ist daher wichtig, dass Schülerinnen und Schüler die Grundlagen der Informatik erlernen, um in der heutigen Welt erfolgreich zu sein.
                    Wenn du dich für Informatik interessierst, bist du bei uns genau richtig.
                    Hier findest du viel kostenlose interaktive Tutorials, Arbeitsblätter und Hilfsviedeos um dein Informatik zu verbessern.
                <br>
                <br>
            </p>
            <video style="overflow-y: hidden;" id="BeispielVideo1" src="\assets\Intro.mp4" type="video/mp4" width="1020" height="480" autoplay mute controls>
                Your browser does not support the video tag.
            </video>
            <p>In unseren ineraktiven Tutorials, wirst du alles über Informatik lernen.</p>
            
            
        </div>
    </div>
    
</div>
