<div [formGroup]="form" action="javascript:void(0);" (submit)="send()">
    <form flex-column-container action="https://formbold.com/s/FORM_ID" method="post">
        <input i formControlName="from_name" type="text" placeholder="Full Name">
        <input i formControlName="from_email" type="text" placeholder="Enter your Email">
        <input i formControlName="subject" type="text" placeholder="Enter your Subject">
        <input ib formControlName="message" type="text" placeholder="Enter your Message">
        <button b type="submit">submit</button>
    </form>

</div>

