*{
    color: black;
}
.custom-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.custom-form label {
    font-weight: bold;
}

.custom-form input,
.custom-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-form .submit-button {
    background-color: greenyellow;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.custom-form .submit-button:hover {
    background-color: #8dc63f;
}