<div> Wer das ließt is doof</div>

<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Download pdf</title>
<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--pricolor);
  }
  .download-link {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: var(--pritextcolor);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .download-link:hover {
    background-color: var(--hovercolor);
  }
</style>
</head>
<body>

<a class="download-link" href="PDF-Link.pdf"download>PDF herunterladen</a>

</body>
</html>
