<div style="background-image: url('assets/Background.jpg'); background-repeat: no-repeat; background-size: cover; color: white; width: 100vw; height: 100vh; padding-bottom: 1000px;">

    <p Animation routerLink="/tutorial1">
        Das erstes Tutorial
    </p>
    
    

    <h1>Informatik lernen leichtgemacht</h1>
    <h3>Hier lernst du die Inhalte der Informatik von der 5-13 Klasse</h3>
    <p> Wir erklären dir durch einfache Tutorials Informatik</p>


    <!-- <img src="assets/Background.jpg" widht="2000" height="1600"> -->
    <div>
        <video src="assets/Test_Video.mp4" type="video/mp4" width="320" height="240" autoplay muted controls>
            Your browser does not support the video tag.
        </video>
        <div style="background-image: url(assets/Kobold.png); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 200vw; "></div>
    </div>
</div>
<!-- Felix Jonas Manuel #allow list-->