<div style="background-image: url('assets/Background.jpg'); background-repeat: no-repeat; background-size: cover; color: white; width: 100vw; height: 100vh;">

    <p Animation routerLink="/tutorial1">
        Das erstes Tutorial
    </p>
    


    <h1>Informatik lernen leichtgemacht</h1>
    <h3>Hier lernst du die Inhalte der Informatik von der 5-13 Klasse</h3>
    <p> Wir erklären dir durch einfache Tutorials Informatik</p>


    <!-- <img src="assets/Background.jpg" widht="2000" height="1600"> -->
    <video src="assets/Test_Video.mp4" type="video/mp4" width="320" height="240" autoplay muted>
        Your browser does not support the video tag.
    </video>
</div>
<!-- Felix Jonas Manuel #allow list-->