<div style="background-color: black;width: 100vw; height: 200vh;color: white;">
    <div header>
        <h1>Herzlich Willkommen bei Bite und Byte</h1>
        <p>Hier lernst du die Inhalte der Informatik von der 5-13 Klasse</p>
    </div>

    <div Hyperlinks>
        <!--Hyperlinks-->
        <a href="#">Beispiel Video</a>
        <a href="/#BeispielVideo1">Was wir machen?</a>
        <a href="/start#Impressum">Impressum</a>
    </div>

    <div row>
        <div Inhalte>
                <h2>Informatik für jeden erklärt</h2>
                <p>Unsere interaktiven Tutorials sind speziell auf Schülerinnen und Schüler zugeschnitten und bieten eine einfache Möglichkeit, die Grundlagen der Informatik zu erlernen. 
                    Wir haben eine Vielzahl von Themen, die von der Information und ihrer Darstellung bis hin zur Kryptologie reichen.
                    <br>
                    <br>
                    Informatik ist ein wichtiger Bestandteil des modernen Lebens und wird in vielen Bereichen eingesetzt, von der Wissenschaft bis hin zur Unterhaltung. 
                    <br>
                    Es ist daher wichtig, dass Schülerinnen und Schüler die Grundlagen der Informatik erlernen, um in der heutigen Welt erfolgreich zu sein.
                    Wenn du dich für Informatik interessierst, bist du bei uns genau richtig.
                    Hier findest du viel kostenlose interaktive Tutorials, Arbeitsblätter und Hilfsviedeos um dein Informatik zu verbessern.
                <br>
                <br>
            </p>
            <video id="BeispielVideo1" src="\assets\Intro.mp4" type="video/mp4" width="1020" height="480" autoplay mute>
                Your browser does not support the video tag.
            </video>
            <p>In unsere ineraktiven Tutorials, wirst du alles über Informatik lernen</p>
            
        </div>
    </div>
    <div Navigationszeile>
        <div Links active routerLink="/start">Home</div>
        <div (click)="a=!a">
            <p Links>Klassenstuffe</p>
            <div *ngIf="a==true">
                <p Links routerLink="/tutorial1">5 Klasse</p>
            </div>
        </div>
        <div Links active routerLink="/ÜberUns">Übernus</div>
    </div>
</div>