<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a routerLink="">PSeminar</a></div>
        <ul class="links">
          <li><a routerLink="">Home</a></li>
          <li><a  routerLink="/kurzgesagt">KurzGesagt</a></li>
          <li>
            <a class="desktop-link">Tutorials</a>
            <input type="checkbox" id="show-Tutorials">
            <label for="show-Tutorials">Tutorials</label>
            <ul>
              <li><a routerLink="/codierung">Codierung</a></li>
              <li><a routerLink="/if-bedingung">If-Bedingung</a></li>
              <li><a routerLink="">Drop Menu 3</a></li>
              <li><a routerLink="">Drop Menu 4</a></li>
            </ul>
          </li>
          <li>
            <a class="desktop-link">Tests</a>
            <input type="checkbox" id="show-Tests">
            <label for="show-Tests">Tests</label>
            <ul>
              <li><a routerLink="/codierungtest">Codierung</a></li>
              <li><a routerLink="/ifbedingungtest">If-Bedingung</a></li>
              <li><a routerLink="/graphen">Graphen</a></li>
              <li>
                <a routerLink="" class="desktop-link">More Items</a>
                <input type="checkbox" id="show-items">
                <label for="show-items">More Items</label>
                <ul>
                  <li><a routerLink="">Sub Menu 1</a></li>
                  <li><a routerLink="">Sub Menu 2</a></li>
                  <li><a routerLink="">Sub Menu 3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a routerLink="/feedback">Feedback</a></li>
        </ul>
      </div>
      
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form class="search-box">
        <input type="text" id="myInput" (input)="filterItems($event)" placeholder="Type Something to Search..." required>
        <ul id="myUL">
          <!-- Your list items here -->
          <li><a href="\graphen">Graphen</a></li>
          <li><a href="\manuelszone">Manuelszone</a></li>
          <li><a href="#">Bob</a></li>
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
          <li><a href="#">Bob</a></li>
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
          <li><a href="#">Bob</a></li>
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
          <li><a href="#">Bob</a></li>
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
          <li><a href="#">Bob</a></li>
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
          <li><a href="#">Bob</a></li>
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
          <li><a href="#">Bob</a></li>
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
          
        </ul>
        <button class="go-icon"><i class="fa fa-times-circle"></i></button>
      </form>

      <div class="theme-switcher">
        <label class="switch">
            <input type="checkbox" id="theme-switcher-checkbox" 
            [checked]="isLightTheme"
            (change)="onThemeSwitchChange()">
            <span class="slider"></span>
        </label>
    </div>
    </nav>
  </div>
</body>


