<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="#">PSeminar</a></div>
        <ul class="links">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/kurzgesagt">KurzGesagt</a></li>
          <li>
            <a routerLink="" class="desktop-link">Tutorials</a>
            <input type="checkbox" id="show-tutorials">
            <label for="show-tutorials">Tutorials</label>
            <ul>
            

              <!-- 9 Klasse -->
              <li><a routerLink="">9.Klasse</a></li>




              <!-- 10 Klasse -->
              <li><a routerLink="">10.Klasse</a></li>
                
            
              
              
              
              <!-- 11 Klasse -->
               <li> 
                <a routerLink="" class="desktop-link">11.Klasse</a>
                <input type="checkbox" id="show-11klasse">
                <label for="show-11klasse">11.Klasse</label>
                <ul>
                  <li>
                    <a routerLink="" class="desktop-link">1.Graphen</a>
                    <input type="checkbox" id="show-graphen">
                    <label for="show-graphen">1.Graphen</label>
                    <ul>
                      <li><a routerLink="/graphen">1.1 Graphen</a></li>
                      <li><a routerLink="">1.2 Die Adjazenzmatrix</a></li>
                      <li><a routerLink="">1.3 Breitensuche</a></li>
                      <li><a routerLink="">1.4 Anwendungen der Breitensuche</a></li>
                      <li><a routerLink="">1.5 Der Dijkstra- Algorithmus</a></li>
                    </ul>
                  </li>
                  <li>
                    <a routerLink="" class="desktop-link">2.Codierung</a>
                    <input type="checkbox" id="show-codierung">
                    <label for="show-codierung">2.Codierung</label> 
                    <ul>
                      <li><a routerLink="/codierung">2.1 Codierung</a></li>
                      <li><a routerLink="">2.2 Zahlensysteme</a></li>
                      <li><a routerLink="">2.3 Symmetrische Verschlüsselung</a></li>
                      <li><a routerLink="">2.4 Asymmetrische Verschlüsselung</a></li>
                      <li><a routerLink="">2.5 Signaturen/ Zertifikate</a></li>
                    </ul>
                  </li>
                  <li>
                    <a routerLink="" class="desktop-link">3.Kommuni- kation</a>
                    <input type="checkbox" id="show-kummunikation">
                     <label for="show-kummunikation">Kommunikation</label> 
                    <ul>
                      <li><a routerLink="">3.1 Das Internet</a></li>
                      <li><a routerLink="">3.2 Das Schichtenmodell</a></li>
                      <li><a routerLink="">3.3 Adressierung</a></li>
                      <li><a routerLink="">3.4 HTTP</a></li>
                      <li><a routerLink="">3.5 Chancen und Risiken</a></li>
                    </ul>
                  </li>
                  <li>
                    <a routerLink="" class="desktop-link">4.KI</a>
                    <input type="checkbox" id="show-ki">
                    <label for="show-ki">Codierung</label>
                    <ul style="top: -250px;">
                      <li><a routerLink="">4.1 Künstliche Inteligenz</a></li>
                      <li><a routerLink="">4.2 Ansätze</a></li>
                      <li><a routerLink="">4.3 Alternative 1</a></li>
                      <li><a routerLink="">4.4 Alternative 2</a></li>
                      <li><a routerLink="">4.5 Das künstliche Neuron</a></li>
                      <li><a routerLink="">4.6 Das neuronale Netz</a></li>
                      <li><a routerLink="">4.7 KI im Einsatz</a></li> 
                    </ul>
                  </li> 
                </ul>
              </li> 
            </ul>
          </li>
          <li>
            <a routerLink="" class="desktop-link">Test</a>
            <input type="checkbox" id="show-test">
            <label for="show-test">Test</label>
            <ul>
              <li><a routerLink="/codierungtest">Codierung</a></li>
              <li><a routerLink="/ifbedingungtest">If-Bedingung</a></li>
              <li><a routerLink="/graphen">Graphen</a></li>
              <li>
                <a routerLink="" class="desktop-link">More Items</a>
                <input type="checkbox" id="show-items">
                <label for="show-items">More Items</label>
                <ul>
                  <li><a routerLink="">Sub Menu 1</a></li>
                  <li><a routerLink="">Sub Menu 2</a></li>
                  <li><a routerLink="">Sub Menu 3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a routerLink="/feedback">Feedback</a></li>
          <!-- Damit im small Modus das Feedback nicht ganz unten ist -->
          <li><a style="background-color: transparent;height: 30px;"></a></li>
        </ul>
      </div>
      
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form class="search-box">
        <input type="text" id="myInput" (input)="filterItems($event)" placeholder="Type Something to Search..." required>
        <ul id="myUL">
          <!-- Your list items here -->
          <li><a href="\graphen">Graphen</a></li>
          <li><a href="\manuelszone">Manuelszone</a></li>
          <li><a href="#">Bob</a></li>
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
          <li><a href="#">Bob</a></li>
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
          <li><a href="#">Bob</a></li>
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
          <li><a href="#">Bob</a></li>
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
          <li><a href="#">Bob</a></li>
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
          <li><a href="#">Bob</a></li>
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
          <li><a href="#">Bob</a></li>
          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
          
        </ul>
        <button class="go-icon"><i class="fa fa-times-circle"></i></button>
      </form>

      <div class="theme-switcher">
        <label class="switch">
            <input type="checkbox" id="theme-switcher-checkbox" 
            [checked]="isLightTheme"
            (change)="onThemeSwitchChange()">
            <span class="slider"></span>
        </label>
    </div>
    </nav>
  </div>
</body>