<div flex-column-container style="margin: 10vw;">
    <div p style="font-weight: 600;">P-Seminar Informatik:</div>
    <div p>Das Projekt-Seminar Informatik des Inntal-Gymnasiums hat diese Seite 2023 erstellt. Leitender Lehrer war Martin Knerich.</div>
    <div p>Email: pseminarinformatik.de</div>
    <div p >Instagram: <a p href="https://www.instagram.com/pseminar.informatik/#">pseminar.informatik</a></div>
    <div p style="font-weight: 600;">Inntal-Gymnasium:</div>
    <div p>Website: <a p href="https://www.inntal-gymnasium.de">https://www.inntal-gymnasium.de</a></div>

    
</div>
