<div style="background-color: black;width: 100vw; height: 200vh;color: white;">
    <div header>
        <h1>Wir sind Bit and Bite</h1>
        <p>Ein P-Seminar des Inntal-Gymnasiums in Raubling</p>
    </div>

    <div Hyperlinks>
        <br>
        <br>
    </div>

    <div row>
        <div Inhalte>
            
            <p>Im Rahmen unseres P-Seminars haben wir uns das Ziel gesetzt, Informatik für Schüler verständlicher und einfacher zu erklären.
                <br>
                <br>
                Wir möchten unsere Website als zusätzliche ergänzende Erklärungsmethode neben dem Informatikunterricht nutzen.
                <br>
                Unser Ziel ist es, Schülern die Möglichkeit zu geben, Informatik auf eine unterhaltsame und interaktive Weise zu lernen.
                Wir glauben, dass unsere Website eine großartige Möglichkeit ist, Schülern dabei zu helfen,
                <br> 
                ihr Verständnis für Informatik zu vertiefen und ihre Fähigkeiten in diesem Bereich zu verbessern.
                <br>
                <br> 
                Wir hoffen, dass unsere Website dazu beitragen wird,
                <br>
                das Interesse der Schüler an Informatik zu wecken und sie dazu zu ermutigen,
                 <br>
                sich weiter mit diesem spannenden Thema auseinanderzusetzen
                <br>
                <br>
                <br>
                <br>
                <br>
                <img src="\assets\Gruppenfoto.jpg">
            </p>
            
        </div>
    </div>

</div>