[Impressum] {
    top: 100vw;
    color: black;
    padding: 20px;
    text-align: center;
    background-color: orange;
    position: absolute;
    padding-right: 10vw;
  }
  /* Navigationsbar */
[Navigationszeile] {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  border-radius: 1vw;
  width: 140px;
  background-color: orange;
  position: absolute;
  left: 84%;
  top: 266px;
  padding-left: 20px;
  padding-bottom: 3vw;
  padding-top: 1vw;
  padding-right: 100%;
}
[Links]{
  color: rgb(0, 0, 0);
  padding: 8px 16px;
}

[Links]:hover {
  background-color: #555;
}