  
  [Sidebar] {
    background-color: var(--seccolor);
    left: 84%;
    padding-bottom: 50vw;
    padding-right: 15vw;
    padding-left: 1vw;
    border-radius: 5px;
    position: fixed;
  }

[Text]{
  border-radius: 10px;
  font-size: large;
  font-family: var(--fantfamily);
  color: var(--sectextcolor);
  margin: 20px 10px;
  padding: 4px 4px;
  overflow: visible;
}
[Text]:hover {
  background-color: var(--hovercolor);

}