*{
    text-align: center;
    color: var(--sectextcolor);
  }

[p]{
  font-size: 30px;
  font-weight: 500;
  margin: auto;
  width: auto;
}
[flex-row-container]{
  background-color: var(--seccolor);
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
  }