/* 
[Impressum] {
    color: var(--sectextcolor);
    padding: 20px;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    max-width: 79%;
    background-color: var(--seccolor);
    border-radius: 30px;
} */
