<div flex-column-container>
    <div flex-row-container style="padding-bottom: 0px;">
        <div p>©PSeminar</div>
        <a p href="\kontakt">Kontakt</a>
        <a p href="https://www.instagram.com/pseminar.informatik/#">Instagram</a>
        <a p href="https://www.inntal-gymnasium.de">Unsere Schule</a>
    </div>
    <div flex-row-container>
        <a href="https://www.sparkasse.de/standorte/filialen/sparkasse-rosenheim-bad-aibling-beratungs-center-raubling-10945"><img src="\assets\Logo Sparkasse.png" style="height: 100px; filter: saturate(var(--saturation));"></a>
        <a href="https://www.schattdecor.com/de/"><img src="\assets\logoschattdecor.png" style="height: 50px; padding-top: 25px;"></a>
        <a href="https://www.vr.de"><img src="\assets\VR.png" style="height: 100px; filter: saturate(var(--saturation));"></a>
    </div>
</div>


