<div quotef>Wir sind das P-Seminar Informatik</div>
<div quotem>Unsere Philosophie bei diesem Projekt ist es</div>
<div quotel>Schüler die Informatik näher und beizubringen</div>

<div flex-row-container1>
    <div flex-column-container>
        <div p>Wir freuen uns, bekanntgeben zu können, dass die Schattdecor GmbH unser Schülerprojekt mit einer
            großzügigen Spende unterstützt hat. Diese wertvolle Unterstützung ermöglicht es uns, unsere kreativen Ideen
            in die Tat umzusetzen und bedeutende Erfahrungen zu sammeln, die unsere Bildung und persönliche Entwicklung
            bereichern.</div>
        <br><br>
        <a link href="https://www.schattdecor.com/de/">-> Hier kommt ihr auf die Website von Schattdecor"</a>
    </div>
    <a href="https://www.schattdecor.com/de/">
        <img pic src="\assets\logoschattdecor.png" alt="alternate" style="height: 50px; padding-top: 25px;">
    </a>
</div>
<div flex-row-container2>
    <a
        href="https://www.sparkasse.de/standorte/filialen/sparkasse-rosenheim-bad-aibling-beratungs-center-raubling-10945"><img
            src="\assets\Logo Sparkasse.png" style="height: 100px; filter: saturate(var(--saturation));"></a>
    <div flex-column-container>
        <div p>Dank der Spende von Sparkasse können wir unser Projekt auf ein neues Niveau heben und gemeinsam neue
            Ziele erreichen. Die Investition in unsere Zukunft ist für uns von unschätzbarem Wert und motiviert uns,
            weiterhin mit vollem Einsatz und Begeisterung an unserem Projekt zu arbeiten.</div><br><br>
        <a link
            href="https://www.sparkasse.de/standorte/filialen/sparkasse-rosenheim-bad-aibling-beratungs-center-raubling-10945">->
            Auf die Website der Sprakasse </a>
    </div>
</div>
<div flex-row-container1>
    <div flex-column-container>
        <div p>Wir sind stolz darauf, die VR-Bank als Unterstützer an unserer Seite zu haben und möchten uns herzlich
            für das entgegengebrachte Vertrauen und die großzügige Unterstützung bedanken. Durch die Spende freuen wir
            uns darauf, unser Projekt weiterzuentwickeln und neue Fortschritte zu erzielen.</div> <br><br>
        <a link href="https://www.vr.de">Hier geht es zur Website der VR-Bank</a>
    </div>
    <a href="https://www.vr.de"><img src="\assets\VR.png"
            style="height: 100px; filter: saturate(var(--saturation));"></a>
</div>