
<body style=" height:200vh; color: white; max-width: 85%;">
    <div header>
        <h1 header>Bit and Bite</h1>
        <p style="position: absolute; left: 10vw; top: 15vw;">Das ist ein Test Turorial:</p>
    </div>

    <!-- RESET BUTTON -->
    <div (click)="Start=false; Question = false" style="position: absolute; left: 1vw; top: 15px; padding: 10px; background-color: rgb(70, 70, 73);">RESET</div>
    <!-- goto step -->
    <p style="position:absolute; top: 60px; left: 1vw;">Insert Step:</p>
    <form>
        <input input style="top: 100px; left: 1vw;" type="text" id="gotostep" name="gotostep" size="1">
    </form>

    <div  circle style="top: 30vw;" (click)="Start=true">Start</div>
    <div *ngIf="Start==true"  circle_spawn style="top: 50vw;"(click)="Question=true">Question 1</div>
    <div *ngIf="Start==true" line style="top: 40vw;"></div>
    <div *ngIf="Question == true" line style="top: 60vw;"  ></div>
    <table *ngIf="Question == true" style="top: 70vw;">
        <tr>
            <th>Wählen sie eine Antwortmöglichkeit:</th>
        </tr>
        <tr>
            <td>1. hhhhhhhhh</td>
        </tr>
        <tr>
            <td>2. ggggggggg</td>
        </tr>
        <tr>
            <td>3.uuuuuuuuuuuuuu</td>
        </tr>
    </table>
    
</body>
