/* animation black box */
@keyframes bb {
  from{height: 0vw;}
  to{height: 10vw}
}
[bb]{
  position: relative;
  
  background-color: rgb(70, 70, 73);
  left: 50%;
  transform: translate(-50%);
}
/* Normal circle */
[circle] {
  position: relative;
  width: 10vw;
  line-height: 10vw;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  align-self: center;
}
[circle]:hover {
  position: relative;
  width: 10vw;
  line-height: 10vw;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(70, 70, 73);
  border-color: white;
}
[line] {
  position: relative;
  width: 2px;
  height: 10vw;
  left: 50%;
  background-color: white;
  transform: translate(-50%, 2px);
}
/*Table design*/
table {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border: 3px solid;
  width: 50%;
  color: white;
  height: 20vw;
}
th, td{
  text-align: center;
  padding: 10px;
}
th{
  font-size: 20px;
}
td:hover {
  background-color: rgb(70, 70, 73);
}