<div style="width: 100vw; height: 230vh;color:  var(--pritextcolor); max-width: 85%;   text-align: center;">
    <div header>
        <h1>Wir sind der Informarik Guide</h1>
        <p>Ein Schüler Projekt des Inntal-Gymnasiums</p>
    </div>

    <div style="background-color: var(--seccolor); height: 3vw; padding-left: 100%;">
        <p> Box </p>
    </div>

    <div row>
        <div>
            
            <p>Im Rahmen unseres P-Seminars haben wir uns das Ziel gesetzt, Informatik für Schüler verständlicher und einfacher zu erklären.
                <br>
                <br>
                Wir möchten unsere Website als zusätzliche ergänzende Erklärungsmethode neben dem Informatikunterricht nutzen.
                <br>
                Unser Ziel ist es, Schülern die Möglichkeit zu geben, Informatik auf eine unterhaltsame und interaktive Weise zu lernen.
                Wir glauben, dass unsere Website <br> eine großartige Möglichkeit ist, Schülern dabei zu helfen,
                <br> 
                ihr Verständnis für Informatik zu vertiefen und ihre Fähigkeiten in diesem Bereich zu verbessern.
                <br>
                <br> 
                Wir hoffen, dass unsere Website dazu beitragen wird,
                <br>
                das Interesse der Schüler an Informatik zu wecken und sie dazu zu ermutigen,
                 <br>
                sich weiter mit diesem spannenden Thema auseinanderzusetzen
                <br>
                <br>
                <br>
                <br>
                <br>
                <img src="\assets\Gruppenfoto.jpg">
            </p>
            
        </div>
    </div>

</div>