*{
    background-color: orange;
  }
[Navigationszeile] {
    width: 140px;
    background-color: orange;
    position: absolute;
    left: 84%;
    top: 266px;
    padding-left: 20px;
    padding-bottom: 3vw;
    padding-top: 1vw;
    padding-right: 100%;
    border-radius: 5px;
  }
[Links]{
    color: black;
    padding: 8px 16px;
}

[Links]:hover {
    background-color: #555;
}