<div pagecontainer style="color: aliceblue;"> 
    <div container>
              <div class="circle cl" (click)="steps[1]=true">
                Datenflussdiagramm
              </div>
        </div>
<!-- Euren Inhalt/Tutorial -->
<div container *ngIf="steps[1]==true">
  <div class="line"></div>
      <div class="circle " (click)="steps[3]=true">
      Wozu ist ein Datenflussdiagramm und wie sieht sowas überhauot aus?
      </div>
    <div blackbox></div>
</div>
<div container *ngIf="steps[3]==true">
<div class="line"></div>
  <div class="box " (click)="steps[4]=true">
    Durch ein Datenflussdiagramm wird der Informationsfluss eines Prozesses oder Systems dargestellt.
  </div>
 <div blackbox></div>
</div>
<div container *ngIf="steps[4]==true">
<div class="line"></div>
  <div class="box bl" (click)="steps[5]=true">
    <img src="\assets\datenflussdiagramm1.png"
    style="width:600px">
  </div>
 <div blackbox></div>
</div>
<div container *ngIf="steps[5]==true">
<div class="line"></div>
    <div class="circle " (click)="steps[6]=true">
    Aus was besteht ein Datenflussdiagramm?
    </div>
  <div blackbox></div>
</div>
<div container *ngIf="steps[6]==true">
<div class="line"></div>
  <div class="box bl" (click)="steps[7]=true"> 
    In dem Datenflussdiagramm gibt es festgelegte Symbole, wie Rechtecke, Kreise und Pfeile 
    sowie kurze Beschriftungen um die Ein- und Ausgabe zu zeigen. Dabei zeigen die Pfeile den Fluss des Diagramms an. 
  </div>
 <div blackbox></div>
</div>
<div container *ngIf="steps[7]==true">
<div class="line"></div>
    <div class="circle " (click)="steps[8]=true">
    Ein- und Ausgabewerte
    </div>
  <div blackbox></div>
</div>
<div container *ngIf="steps[8]==true">
<div class="line"></div>
  <div class="box bl" (click)="steps[9]=true">
    Eingabewerte sind die Werte, die zum Anfang dem Programm zuverfügung Gestellt werden.
    Ausgabewerte sind die Werte, die zum Ende von dem Programm zurückgegeben werden. Also sozusagen das Ergebnis.
    Die Ein- und Ausgabewerte werden immer in Rechtecke geschrieben. 
  </div>
<div blackbox></div>
</div>
<div container *ngIf="steps[9]==true">
<div class="line"></div>
    <div class="circle " (click)="steps[10]=true">
    Funktionen
    </div>
  <div blackbox></div>
</div>
<div container *ngIf="steps[10]==true">
<div class="line"></div>
  <div class="box bl" (click)="steps[11]=true">
    Funktionen sind ein datenverarbeitende Prozesse. 
    Hier werden die Eingabewerte, je nachdem um was für eine Funktion es sich handelt, 
    verarbeitet und dann werden die Ausgabewerte zurückgegeben. 
    Diese werden in Kreise geschrieben.
  </div>
<div blackbox></div>
</div>
<div container *ngIf="steps[11]==true">
<div class="line"></div>
    <div class="circle " (click)="steps[12]=true">
    Verteiler
    </div>
  <div blackbox></div>
</div>
<div container *ngIf="steps[12]==true">
<div class="line"></div>
  <div class="box bl" (click)="steps[13]=true">
    Ein Verteiler, der als kleiner Kreis dargestellt wird, ist wichtig, 
    wenn der Eingabewert für mehrere Funktionen benötigt wird. 
    Dieser nimmt den zugeordneten Wert und schickt Kopien dieses Wertes weiter. 
  </div>
<div blackbox></div>
</div>
<div container *ngIf="steps[13]==true">
<div class="line"></div>
    <div class="circle " (click)="steps[14]=true">
    Beispiel
    </div>
  <div blackbox></div>
</div>
<div container *ngIf="steps[14]==true">
<div class="line"></div>
  <div class="box bl" (click)="steps[15]=true">
   <img src="\assets\datenflussdiagramm2.png"
   style="width: 600px">
<div blackbox></div>
</div>
<div container *ngIf="steps[15] == true">
<div class="line"></div>
<table>
<tr>
<th>Was ist ein Datenflussdiagramm?:</th>
</tr>
<tr>
<td>Eine Darstellung von Datenbanken</td>
</tr>
<tr>
<td>Eine Grafik zur Visualiesierung von Rechenoperationen</td>
</tr>
<tr>
<td (click)="steps[16]=true">Ein Diagramm, das den Fluss von Daten durch ein System zeigt>
</tr>
</table>
<div blackbox></div>
</div>
<div container *ngIf="steps[16] == true">
<div class="line"></div>
<table>
<tr>
<th>Was ist der Zweck eines Datenflussdiagramms?:</th>
</tr>
<tr>
<td>Um den Verbrauch von elektrischer Energie zu visualisieren</td>
</tr>
<tr>
<td (click)="steps[17]=true" >Um den Fluss von Daten in einem Informationssystem zu visualisieren und zu analysieren>
</tr>
<tr>
<td>Um den physischen Fluss von Produkten in einer Fabrik zu zeigen>
</tr>
</table>
<div blackbox></div>
</div>
</div>
