/* You can add global styles to this file, and also import other style files */

@import "themes.scss";

/*
   _____   ______   _   _   ______   _____               _      
  / ____| |  ____| | \ | | |  ____| |  __ \      /\     | |     
 | |  __  | |__    |  \| | | |__    | |__) |    /  \    | |     
 | | |_ | |  __|   | . ` | |  __|   |  _  /    / /\ \   | |     
 | |__| | | |____  | |\  | | |____  | | \ \   / ____ \  | |____ 
  \_____| |______| |_| \_| |______| |_|  \_\ /_/    \_\ |______|                                                    
*/
*{
  font-family:  'Courier New', monospace;
  text-align: center;
  color: var(--pritextcolor);
  font-size: 20px;
    
} 
body
{
  padding: 0vw;
  margin: 0vw;
  overflow-x: hidden; 
  background-color: var(--pricolor);
}
[p]{
  font-size: 30px;
  font-weight: 500;
  margin: auto;
  width: auto;
}
[flex-column-container]{
  display: flex;
  flex-direction: column;
}
/* Hier könnt ihr Variabeln definieren. Um diese zu verwenden einfach var(--Variable) benutzen */
/* Auf dieser Seite kann man Farbcodes finden. Sehr praktisch!!! --> https://volkmarmeyd.de/infos/edv/farbtabelle.html */
:root{
  --pricolor: aliceblue;
  --pritextcolor: rgb(76, 86, 97);
  --seccolor: rgb(76, 86, 97);
  --sectextcolor: aliceblue;
  --thirdcolor: lightslategray;
  --hovercolor: rgb(96, 110, 123);
  --hovertextcolor: rgb(255,255,255);
}
[container]{
  position: relative;
  width: fit-content;
  height: fit-content;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
} 
@keyframes blackbox {
  from {height: 100%; top: 0%; background-color: var(--pricolor);}
  to {height: 0%; top: 100%; background-color: var(--pricolor);}
}
[blackbox]{
  position: absolute;
  height: 100%;
  width: 100%;
  animation: blackbox 2s;
}
[pagecontainer]{
  position: relative;
  width: 100vw;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70vh;
  padding-top: 30vh;
}
/* Dark/whitmode butten */

.theme-switcher {
  position: relative;
}

.theme-switcher .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-switcher .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switcher .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--pricolor);
  transition: .4s;
  border-radius: 34px;
}

.theme-switcher .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--seccolor);
  transition: .4s;
  border-radius: 50%;
}

.theme-switcher input:checked + .slider {
  background-color: var(--pricolor);
}

.theme-switcher input:focus + .slider {
  box-shadow: 0 0 1px purple;
}

.theme-switcher input:checked + .slider:before {
  transform: translateX(26px);
}


<<<<<<< HEAD
/*
   _____   ______   _   _   ______   _____               _      
  / ____| |  ____| | \ | | |  ____| |  __ \      /\     | |     
 | |  __  | |__    |  \| | | |__    | |__) |    /  \    | |     
 | | |_ | |  __|   | . ` | |  __|   |  _  /    / /\ \   | |     
 | |__| | | |____  | |\  | | |____  | | \ \   / ____ \  | |____ 
  \_____| |______| |_| \_| |______| |_|  \_\ /_/    \_\ |______|
*/
=======
/* Normal circle */
[circle] {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-style: solid;
  background-color: var(--pricolor);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--seccolor);
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  border-color: var(--seccolor);
}
[circle]:hover {
  position: relative;
>>>>>>> e7316478c96a1d53094bdbc5480fd482b899c4eb


/* 
  ______    ____    _____    __  __    _____ 
 |  ____|  / __ \  |  __ \  |  \/  |  / ____|
 | |__    | |  | | | |__) | | \  / | | (___  
 |  __|   | |  | | |  _  /  | |\/| |  \___ \ 
 | |      | |__| | | | \ \  | |  | |  ____) |
 |_|       \____/  |_|  \_\ |_|  |_| |_____/ 
                                             
*/


.circle {
  background: var(--pricolor);
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 30px;
  display: flex;
  height: 180px;
  width: 180px;
  color: var(--pritextcolor);
  border : 2px solid var(--pritextcolor);
}
.circle:hover {
  background: var(--hovercolor);
  color: var(--hovertextcolor);
}
.cs{
  height: 50px;
  width: 50px;
}
.cl{
  height: 250px;
  width: 250px;  
}

.box {
  width: 300px;
  height: fit-content;
  border: 2px solid var(--pritextcolor);
  padding: 10px;
}
.box:hover {
  color: var(--hovertextcolor);
  background-color: var(--hovercolor);
}
.bs {
  width: 100px;
}
.bl {
  width: 600px;
}

.line {
  position: relative;
  width: 2px;
  height: 100px;
  left: 50%;
  background-color: var(--pritextcolor);
}
.ls {
  height: 50px;
}
.ll {
  height: 200px;
}

table {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border: 3px solid;
  width: 50%;
  color: var(--seccolor);
  height: 20vw;
  border-color: var(--pritextcolor);
}
th, td{
  text-align: center;
  padding: 10px;
}
th{
  font-size: 20px;
}
td:hover {
  background-color: var(--hovercolor);
  color: var(--hovertextcolor);
}


/* 
  ______    ____    _____    __  __    _____ 
 |  ____|  / __ \  |  __ \  |  \/  |  / ____|
 | |__    | |  | | | |__) | | \  / | | (___  
 |  __|   | |  | | |  _  /  | |\/| |  \___ \ 
 | |      | |__| | | | \ \  | |  | |  ____) |
 |_|       \____/  |_|  \_\ |_|  |_| |_____/ 
                                             
*/