/* You can add global styles to this file, and also import other style files */
*
{
    
   font-family: var(--fontfamliy)
} 
body
{
    padding: 0vw;
    margin: 0vw;
    overflow-x: hidden;
    background-color: var(--pricolor);
}

:root{
    --pricolor: rgb(34, 34, 34);
    --pritextcolor: rgb(250, 250, 250);
    --seccolor: rgb(246, 111, 246);
    --sectextcolor: rgb(0 ,0 , 0);
    --shadowcolor: rgb(135, 135, 135);
    --hovercolor: rgb(106, 106, 106);
    --fontfamliy: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}