/* You can add global styles to this file, and also import other style files */

*{
    font-family:  'Courier New', monospace;

} 
body
{
    padding: 0vw;
    margin: 0vw;
    overflow-x: hidden; 
    background-color: var(--pricolor);
}
/* Hier könnt ihr Variabeln definieren. Um diese zu verwenden einfach var(--Variable) benutzen */

/* Auf dieser Seite kann man Farbcodes finden. Sehr praktisch!!! --> https://volkmarmeyd.de/infos/edv/farbtabelle.html */

:root{
    --pricolor: aliceblue;
    --pritextcolor: slategray;
    --seccolor: slategray;
    --sectextcolor: aliceblue;
    --thirdcolor: #14181f;
    --shadowcolor: rgb(135, 135, 135);
    --hovercolor: rgb(106, 106, 106);
    --fontfamliy:  "'Courier New', monospace";
}
[container]{
    position: relative;
    width: fit-content;
    height: fit-content;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
@keyframes blackbox {
    from {height: 100%; top: 0%; background-color: var(--pricolor);}
    to {height: 0%; top: 100%; background-color: var(--pricolor);}
}
[blackbox]{
    position: absolute;
    height: 100%;
    width: 100%;
    animation: blackbox 2s;
}
[pagecontainer]{
    position: relative;
    width: 100vw;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    padding-bottom: 70vh;
    padding-top: 30vh;
}