[data-theme="light"] {
  --pricolor: aliceblue;
  --pritextcolor: slategray;
  --seccolor: slategray;
  --sectextcolor: aliceblue;
  --thirdcolor: gainsboro;
  --thirdtxtcolor: black;
  --shadowcolor: rgb(135, 135, 135);
  --hovercolor: rgb(164, 164, 164);
  --hovertextcolor: rgb(255,255,255);
}

[data-theme="dark"] {
  --pricolor: #333333;
  --pritextcolor: rgb(255, 255, 255);
  --seccolor: #FFA500;
  --sectextcolor: rgb(7, 26, 42);
  --thirdcolor: #1a1a2e;
  --thirdtxtcolor: white;
  --shadowcolor: rgb(135, 135, 135);
  --hovercolor: rgb(106, 106, 106);
  --hovertextcolor: rgb(255,255,255);
}