[data-theme="light"] {
  --pricolor: aliceblue;
  --pritextcolor: slategray;
  --seccolor: slategray;
  --sectextcolor: aliceblue;
  --thirdcolor: #14181f;
  --shadowcolor: rgb(135, 135, 135);
  --hovercolor: rgb(106, 106, 106);
  --header-background-color: #ffffff;
  --header-border-color: #e5e8ea;
  --header-menu-item-color: #231f20;
  --header-theme-switch-background-color: #cccccc;
  --header-theme-switch-before-background-color: #ffffff;
  --header-theme-switch-checked-background-color: #2196f3;

  --main-content-background-color: #ffffff;
  --main-content-text-color: #231f20;
}

[data-theme="dark"] {
  --pricolor: rgb(8, 14, 19);
  --pritextcolor: rgb(255, 255, 255);
  --seccolor: rgb(245, 17, 192);
  --sectextcolor: rgb(7, 26, 42);
  --thirdcolor: #14181f;
  --shadowcolor: rgb(135, 135, 135);
  --hovercolor: rgb(106, 106, 106);
  --header-background-color: #2c3c93;
  --header-border-color: #e5e8ea;
  --header-menu-item-color: #ffffff;
  --header-theme-switch-background-color: #cccccc;
  --header-theme-switch-before-background-color: #ffffff;
  --header-theme-switch-checked-background-color: #2196f3;

  --main-content-background-color: #231f20;
  --main-content-text-color: #ffffff;
}