[data-theme="light"] {
  --pricolor: aliceblue;
  --pritextcolor: slategray;
  --seccolor: slategray;
  --sectextcolor: aliceblue;
  --thirdcolor: #14181f;
  --shadowcolor: rgb(135, 135, 135);
  --hovercolor: rgb(106, 106, 106);

}

[data-theme="dark"] {
  --pricolor: rgb(8, 14, 19);
  --pritextcolor: rgb(255, 255, 255);
  --seccolor: rgb(245, 17, 192);
  --sectextcolor: rgb(7, 26, 42);
  --thirdcolor: #14181f;
  --shadowcolor: rgb(135, 135, 135);
  --hovercolor: rgb(106, 106, 106);
  
}